/* .App {
  text-align: center;
} */


/* .todo-icon{
  display: flex;
} */
.fas{
  font-size: 1.2rem;
  cursor: pointer;
}



.todo-icon{
  float: right;
}

.center-card{
  display: flex;
  justify-content: center;
  align-items: center;
}
.on-hover{
  opacity: 1;
}

.on-hover:hover{
  opacity: 0.5;

}

@media screen and (max-width:580px) {
  body{
    background: #f2f2f2;
  }
  .navbar-light{
      display: flex;
      justify-content: center;
  }

 
}